body{
    font-family: Arial,sans-serif;
    background-color: #6600fe;
    color: white;
    text-align: center;
    padding: 40px 10px;
}

p{
    color: rgb(170, 166, 166);
}

h2{
    font-size: 2rem;
    margin-bottom: 40px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
}

.box{
    background-color: white;
    color: rgb(146, 145, 145);
    width: 250px;
    height: 350px;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
}

.box a{
    font-weight: bold;
    font-size: 1.2rem;
}

.title{
    color: rgb(251, 205, 120);
    margin: 5px 0;
}

.price{
    font-size: 2rem;
    color: #6600fe;
    font-weight: bold;
}

ul{
    list-style: none;
    font-size: 14px;
    padding: 0;
    margin-bottom: 15px;
    line-height: 1.8;
}

.boxed{
    background-color: white;
    color: rgb(146, 145, 145);
    width: 250px;
    height: 400px;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    position: relative;
}

.tag{
    background-color: rgb(252, 213, 219);
    font-weight: bold;
    color: rgb(7, 7, 152);
    position: absolute;
    top: -10px;
    left: 3rem;
    margin: 10px;
    padding: 10px 20px;
}

.boxed a{
    text-decoration: none;
    background-color: #0000ff;
    color: white;
    padding: 20px 40px;
    display: inline-block;
    font-weight: bold;
}

.emoji{
    font-size: 2rem;
}